<!DOCTYPE html>
<html
	ng-controller="ApplicationController"
	ng-class="{ 'maximized': maximized, 'loaded': loaded, 'focus': focus }"
>
    <head>
	    <base href="./../" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Include Resources -->
        <link rel="stylesheet" href="./core/app.css" id="stylesheets" />
        <script src="./public/assets/javascripts/application.js" id="javascripts"></script>
        
    </head>
    <body
		class="os-{{platform}}"
		ng-class="{ 'maximized': maximized, 'loaded': loaded, 'focus': focus }"
	>
		<wrap>
				
			<script type="text/ng-template" id="menuTmpl">
			
				<ul>
					<li
						ng-repeat="item in menu"
						ng-class="{ 'has-submenu': item.submenu, visibleSubmenu: ( root && visibleMenu == item.id ) }"
					>
						<span
							ng-if="item.type == 'separator'"
							class="separator"
						></span>
						<span
							ng-if="item.type != 'separator'"
							class="label-wrap"
							ng-click="click(item, root)"
							ng-mouseover="mouseover(item, root)"
						>
							<span class="label" ng-bind="item.label"></span>
							<span class="hotkey" ng-bind="formatHotkey(item)"></span>
							<span
								ng-if="item.submenu"
								class="arrow"
							></span>
						</span>
						<div
							ng-if="item.submenu"
							ng-include="'menuTmpl'"
							ng-init="menu = item.submenu; root=false;"
						></div>
							
					</li>
				</ul>
			
			</script>

			<header style="-webkit-app-region: drag">
				
				<div
					id="header-menu"
					ng-controller="MenuController"
					ng-include="'menuTmpl'"
					ng-init="root = true"
					click-outside="close()"
				></div>

				<div id="header-stoplight">
					<div id="header-stoplight-close" class="header-stoplight-button" ng-click="stoplight.close()"></div>
					<div id="header-stoplight-zoom" class="header-stoplight-button" ng-click="stoplight.zoom()"></div>
					<div id="header-stoplight-minimize" class="header-stoplight-button" ng-click="stoplight.minimize()"></div>
				</div>
				
				<div id="header-components">
					<section
						ng-repeat=" ( header, path ) in $root.modules['header']"
						ng-include="path"
						ng-attr-id="header-{{header}}"
					></section>					
				</div>

			</header>

			<content>

				<sidebar
					ng-controller="SidebarController as sidebar"
					ng-init="init()"
				>					
					
					<div
						ng-if="!projectLoaded"
						class="project-load table"
					>
						<div class="tablecell" style="text-align: center;">
					
							<button
								ng-click="selectProject()"
							>
								<i class="fa fa-folder-open-o"></i> Open project
							</button>
							
						</div>
					</div>

					<script type="text/ng-template" id="filetreeTmpl">
						<span
							ng-click="!isRenaming(item.path) && select( item.path, $index, $event )"
							ng-dblclick="!isRenaming(item.path) && open( item.path )"
							ng-right-click="!root && showCtxMenu(item, $event)"
							ng-class="{ 'selected': isSelected( item.path ) }"
							class="label"
						>
							<span
								class="expand-wrap"
								ng-click="!isRenaming(item.path) && expand( item.path, !isExpanded(item.path) )"
								stop-event
							>
								<span class="expand"></span>
							</span>
							<span class="icon"></span>
							<span class="name" ng-show="!isRenaming(item.path)">{{item.name}}</span>
							<form
								ng-show="isRenaming(item.path)"
								ng-submit="rename( item )"
								style="display: inline-block;"
								click-outside="isRenaming(item.path) && rename( item )">
								<input class="name-renaming" ng-show="isRenaming(item.path)" show-focus="isRenaming(item.path)" type="text" ng-model="item.name" />
								<input type="submit" style="display: none;" />
							</form>
						</span>
						
					    <ul
						    ng-if="item.children"
							ng-show="isExpanded( item.path )"
							dnd-list="item.children"
							dnd-external-sources="true"
							dnd-dragover="dragoverCallback(event, index, external)"
							dnd-drop="dropCallback(event, parent, item, external)"
						>
					        <li
					        	ng-repeat="item in item.children"
					        	ng-include="'filetreeTmpl'"
					        	ng-class="{ 'expanded': isExpanded( item.path ) }"
					        	ng-init="selected = false; item.expanded = false; root = false; parent = item;"
					        	class="type-{{item.type}} ext-{{item.ext}}"
					        	
					        	data-filename="{{item.name}}"
					        	
					        	dnd-draggable="item"
								dnd-effect-allowed="move"
					        ></li>
					    </ul>
					</script>

					<ul 
						ng-if="projectLoaded"
						id="filetree" 
						dnd-list="filetree"
						dnd-external-sources="true"
						dnd-dragover="dragoverCallback(event, index, external)"
						dnd-drop="dropCallback(event, filetree, item, external)"
						ng-right-click="showCtxMenu(undefined, $event)"
					>
						<li
							ng-repeat="item in filetree"
							ng-include="'filetreeTmpl'"
							ng-class="{ 'expanded': isExpanded( item.path ) }"
							ng-init="expand( item.path, true ); root = true; parent = item;"
							class="type-{{item.type}}"
							
							dnd-draggable="item"
							dnd-effect-allowed="move"
						></li>
					</ul>
					
					<div id="sidebar-helper">

						<div class="btn btn-add" ng-click="newFile()">
							<span class="icon" style="-webkit-mask-image: url(./core/assets/images/icon/newfile.svg)"></span>
						</div>

						<div class="btn btn-add" ng-click="newFolder()">
							<span class="icon" style="-webkit-mask-image: url(./core/assets/images/icon/newfolder.svg)"></span>
						</div>
					</div>

				</sidebar>

				<editor ng-controller="EditorController as editor"  ng-class="{ 'widgets': files[ active ]._widgets.length > 0 }">

					<editormain>
						<tabs>
							<tab
								ng-repeat="file in files"
								ng-click="open(file.path)"
								ng-class="{ 'active': active == file.path, 'changed': isChanged(file.path) }"
							>
								<span class="close" ng-click="close(file.path)"></span>
								<span class="icon">{{file.icon}}</span>
								<span class="name">{{file.name}}</span>
							</tab>
						</tabs>

						<editorviews>
							<editorview
								class="{{file._view}}"
								ng-repeat="file in files"
								ng-show="active == file.path",
								ng-include="getEditorPath(file._view)"
							>
							</editorview>

							<noeditorview ng-show="!active" ng-include="'./app/splash.html'"></noeditorview>
						</editorviews>
						
						<widgets ng-repeat="file in files" ng-show="$parent.active == file.path && file._widgets.length > 0">
							<widgetwrap
								ng-repeat="widget in file._widgets"
								ng-init="file_path = file.path; "
								ng-controller="WidgetController"
								ng-class="{ 'collapsed': collapsed }"
							>
								<span class="title" ng-click="collapsed = !collapsed">
									<span class="name">{{widget}}</span>
								</span>
								<widget class="{{widget}}" ng-include="getWidgetPath(widget)"></widget>
							</widgetwrap>
						</widgets>
					</editormain>
				</editor>

			</content>

		</wrap>

		<!-- hidden things -->
		<util>
			<input id="directorychooser" type="file" nwdirectory />
		</util>
		
	</body>
</html>