<!DOCTYPE html>
<html ng-app="app" ng-controller="ApplicationController">
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Include Resources -->
        <link rel="stylesheet" href="./core/app.css" id="stylesheets" />
        <script src="./public/assets/javascripts/application.js" id="javascripts"></script>
        
    </head>
    <body
		class="os-{{platform}}"
		ng-class="{ 'maximized': maximized, 'loaded': loaded, 'focus': focus }"
	>

		<wrap
			ng-class="{ 'blurred': blurred }"
			ng-click="blurred && closePopup()"
		>

			<header>
				<div id="header-stoplight">
					<div class="table">
						<div class="tablecell">
							<div id="header-stoplight-close" class="header-stoplight-button" ng-click="stoplight.close()"></div>
							<div id="header-stoplight-minimize" class="header-stoplight-button" ng-click="stoplight.minimize()"></div>
							<div id="header-stoplight-zoom" class="header-stoplight-button" ng-click="stoplight.zoom()"></div>
						</div>
					</div>
				</div>
				
				<div id="header-components">
					<section
						ng-repeat=" ( header, path ) in $root.modules['header']"
						ng-include="path"
						ng-attr-id="header-{{header}}"
					></section>					
				</div>
				
				<!--

				<div id="chrome-title">
					<span class="name">{{project.metadata.name.en}}</span>
					<span class="id">{{project.metadata.id}}</span>
				</div>

				<div
					id="play"
					ng-controller="PlayController"
					ng-class="{ 'active': status.length > 0, 'enabled': shouldBeEnabled }"
				>
					<div id="play-button" ng-click="playstop()"></div>

					<div id="play-status" title="{{status}}">{{status}}</div>

				</div>



				<div id="user" ng-class="{ 'logging-in': user.status == 'logging-in' }">
					<div ng-include="'app/views/header/account.html'"></div>
				</div>
				
				-->

			</header>

			<content>

				<sidebar
					ng-controller="SidebarController"
					ng-right-click="showCtxmenu(undefined, $event)"
					file-drop="dropped( $event, file, project.path )"
				>

					<script type="text/ng-template" id="filetreeTmpl">
						<span
							ng-click="select( $event, item.path )"
							ng-dblclick="open( item )"
							ng-right-click="showCtxmenu(item, $event)"
							ng-class="{ 'selected': isSelected( item.path ) }"
							file-drop="dropped( $event, file, item.path )"
							class="label"
						>
							<span class="expand" ng-click="item.expanded = !item.expanded || false;" stop-event></span>
							<span class="icon"></span>
							<span class="name" ng-show="!item.renaming">{{item.name}}</span>
							<form ng-show="item.renaming" ng-submit="submitRename( item )" style="display: inline-block;">
								<input class="name-renaming" type="text" ng-model="item.name" ng-blur="submitRename( item )" />
								<input type="submit" style="display: none;" />
							</form>
						</span>
					    <ul ng-if="item.children" ng-show="item.expanded">
					        <li
					        	ng-repeat="item in item.children"
					        	ng-include="'filetreeTmpl'"
					        	ng-class="{ 'expanded': item.expanded }"
					        	ng-init="selected = false; item.expanded = false;"
					        	class="type-{{item.type}} ext-{{item.ext}}"
					        ></li>
					    </ul>
					</script>

					<ul id="filetree">
						<li
							ng-repeat="item in filetree"
							ng-include="'filetreeTmpl'"
							ng-class="{ 'expanded': item.expanded }"
							ng-init="item.expanded=true"
							class="type-{{item.type}}"
						></li>
					</ul>

					<div id="sidebar-helper">
						<div class="button button-add">+</div>
					</div>

				</sidebar>

				<editor ng-controller="EditorController">

					<editormain ng-class="{ 'widgets': files[ active ]._widgets.length > 0 }">
						<tabs>
							<tab
								ng-repeat="file in files"
								ng-init="active = false;"
								ng-click="open(file.path)"
								ng-class="{ 'active': $parent.active == file.path, 'changed': file._changed }"
							>
								<span class="close" ng-click="close(file.path)"></span>
								<span class="icon">{{file.icon}}</span>
								<span class="name">{{file.name}}</span>
							</tab>
						</tabs>

						<editorviews>
							<editorview
								class="{{file._view}}"
								ng-repeat="file in files"
								ng-show="$parent.active == file.path",
								ng-include="getEditorPath(file._view)"
							>
							</editorview>

							<noeditorview ng-show="!active">
								<div ng-include="'app/views/partials/noeditor.html'"></div>
							</noeditorview>
						</editorviews>
					</editormain>

					<widgets ng-repeat="file in files" ng-show="$parent.active == file.path && file._widgets.length > 0">
						<widgetwrap ng-repeat="widget in file._widgets" ng-init="file_path = file.path">
							<title>{{widget}}</title>
							<widget class="{{widget}}" ng-include="'devkit-widget-' + widget + '.html'"></widget>
						</widgetwrap>
					</widgets>

				</editor>

			</content>

			<!--
			<devtools>
				<iframe id="devtools" src=""></iframe>
			</devtools>
			-->

		</wrap>

		<auth
			id="login"
			ng-class="{ 'visible': popup.visible }"
		>

			<iframe id="auth-iframe" ng-src="{{popup.url}}"></iframe>
		</auth>

		<!-- hidden things -->
		<util>
			<input id="directorychooser" type="file" webkitdirectory />
		</util>

	</body>
</html>