<!DOCTYPE html>
<html ng-controller="ApplicationController" ng-class="{'dark-theme': (settings.theme == 'dark'), 'light-theme': (settings.theme == 'light')}">
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Include Resources -->
        <link rel="stylesheet" href="./core/app.css" id="stylesheets" />
		<!--         <link rel="stylesheet" href="./bower_components/css-base/dist/compiled_formide.css" id="stylesheets" /> --><!-- Gives some styling issues -->
        <script src="./public/assets/javascripts/application.js" id="javascripts"></script>
        
    </head>
    <body>
			<div class="settings">
				<section>
					<hgroup>
						<h1>{{settings.package.name}}</h1>
						<h4>{{settings.package.description}}</h4>
					</hgroup>
				</section>

				<hr class="rule"/>

				<section>
					<h4>Author: {{settings.package.author}}</h4>

					<div ng-repeat="contributer in settings.package.contributors">
						<small>{{contributer.name}} (<a href="mailto:{{contributer.email}}">{{contributer.email}}</a>)</small>
					</div>
				</section>

				<hr class="rule"/>

				<section>
					<h2>Settings</h2>

					<label for="theme">SDK Theme </label>
					<select name="theme" ng-model="settings.theme" ng-options="theme.id as theme.name for theme in themes">
			    	</select>
				</section>
				
				
			</div>
	</body>
</html>