html {
	background: transparent;
}

body {
	-webkit-filter: grayscale(10%);
}

body.focus {
	-webkit-filter: grayscale(0%);
}

wrap {
	display: block;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	
	border: 1px solid rgba(0,0,0,0.25);
	
	-webkit-transform: scale(0.95);
	opacity: 0;
	
	transition: all 0.25s;
}
body.focus wrap {
	box-shadow: 0 5px 20px rgba(0,0,0,0.35);
}
wrap:before {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(./img/body-bg.jpg) center center no-repeat;
	background-attachment: fixed;
/*	opacity: 0.95;*/
	
	transition: all 0.3s;
}
body.focus wrap:before {
	opacity: 1;
}
body.loaded wrap {
	opacity: 1;
	-webkit-transform: scale(1);
}

@media (min-width: 1500px), (min-height: 1042px){
	wrap {
		background-size: cover;
	}
}

body.maximized wrap {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	box-shadow: none;
	border-radius: 0;
	border-width: 0;
}

wrap.blurred {
	-webkit-filter: blur(2px) grayscale(30%)
}
wrap.blurred:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

header,
sidebar,
widgets {
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
}

#filetree li .label {
	position: relative;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-right: none;
	transition: border-color 0.3s;
}
#filetree li .label.selected {
	background: url(./img/body-bg.jpg) center center no-repeat;
	background-attachment: fixed;
	border-color: rgba(0,0,0,0.2);
	border-radius: 3px 0 0 3px;
	margin-right: -1px;
	left: 0;
	z-index: 999;
}