.devkit-example-header-title {
	display: block;
	text-align: center;
	width: 320px;
	font-size: 14px;
	margin: 14px auto;
}

.devkit-example-header-title .version {
	border: 1px solid blue;
	border-radius: 3px;
	color: blue;
	font-size: 12px;
	padding: 3px 4px 2px;
	line-height: 0;
}