<form ng-controller="manifestViewCtrl">

	<fieldset>
		<legend>General</legend>
		
		<img id="manifest-icon" ng-src="{{iconUrl}}" file-drop="received($event, file)" />
		
		<row>
			<label>Name</label>
			<input type="text" ng-model="manifest.name.en" />
		</row>
		
		<row>
			<label>Description</label>
			<textarea ng-model="manifest.description.en"></textarea>
		</row>
		
		<row>
			<label>Version</label>
			<input ng-model="manifest.version" placeholder="1.0.0" />
		</row>
		
	</fieldset>
	
	<fieldset>
		<legend>Author</legend>
		
		<row>
			<label>Name</label>
			<input type="text" ng-model="manifest.author.name" placeholder="John Doe" />
		</row>
		
		<row>
			<label>Author's e-mail</label>
			<input type="text" ng-model="manifest.author.email" placeholder="a.uthor@gmail.com" />
		</row>
		
	</fieldset>
	
	<fieldset>
		<legend>Permissions</legend>
		
		<row>
			<label>Permissions</label>
			<tags-input ng-model="manifest.permissions" placeholder="Add a permission">
				<auto-complete source="autocompletePermissionTags($query)"></auto-complete>
			</tags-input>
		</row>
		
	</fieldset>
	
	<fieldset>
		<legend>Speech input</legend>
		
		<div class="row">
			
			<ul class="triggers">
				<li ng-repeat="trigger in manifest.interfaces.speech.triggers">
					<row>
						<label>Trigger ID</label>
						<input type="text" ng-model="trigger.id" />
					</row>
					<row>
						<label>Importance</label>
						<input type="range" min="0" max="1" step="0.01" ng-model="importance" /> {{importance}}
					</row>
					<row>
						<label>Synonyms</label>
						<tags-input ng-model="trigger.synonyms.en" placeholder="Add a synonym">
							<auto-complete
								class="reversed"
								source="autocompleteSynonyms(trigger.id)"
								min-length="0"
								load-on-down-arrow="true"
								load-on-empty="true"
								load-on-focus="true"
							></auto-complete>
						</tags-input>
					</row>
				</li>
				<li>
					<div ng-click="addTrigger()">Add trigger</div>
				</li>
			</ul>
			
		</div>
		
	</fieldset>

</form>