<!doctype html>
<html
	ng-app="devkit"
	ng-controller="devkitCtrl"
>
	<head>
		
		<meta charset="UTF-8">
		
		<!-- angular -->
		<script type="text/javascript" src="./bower_components/angular/angular.js"></script>

		<!-- angular-codemirror -->
		<link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css" />
		<link rel="stylesheet" type="text/css" href="./bower_components/codemirror/theme/monokai.css" />
		<script type="text/javascript" src="./bower_components/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="./bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
		<script type="text/javascript" src="./bower_components/codemirror/mode/javascript/javascript.js"></script>
		
		<!-- angular-hotkeys -->
		<script type="text/javascript" src="./bower_components/angular-hotkeys/build/hotkeys.js"></script>
		
		<!-- angular-tags-input -->
		<link rel="stylesheet" type="text/css" href="./bower_components/ng-tags-input/ng-tags-input.css" />
		<script type="text/javascript" src="./bower_components/ng-tags-input/ng-tags-input.js"></script>
		
		<!-- devkit -->
		<link rel="stylesheet" href="./css/style.css" type="text/css" />
		<link rel="stylesheet" href="./css/font.css" type="text/css" />
		<script type="text/javascript" src="./js/devkit.js"></script>
		
	</head>
	<body class="os-{{platform}}">
		
		<header>
			
			<div id="chrome-stoplight">
				<div id="chrome-stoplight-close" ng-click="window.close()"></div>
				<div id="chrome-stoplight-minimize"></div>
				<div id="chrome-stoplight-zoom"></div>
			</div>
			
			<div id="chrome-title">{{project.metadata.name.en}}</div>
			
			<div id="play">
				<div id="play-button"></div>
			</div>
			
			<div id="progressbar">
				<div id="progressbar-inner" style="width: {{progressbar*100}}%;"></div>
			</div>
			
			<div id="user">
				<div class="name">Emile</div>
				<img src="https://avatars1.githubusercontent.com/u/319873?v=3&s=460" />
			</div>
			
		</header>
		
		<content>
			
			<sidebar ng-controller="sidebarCtrl">
			
				<script type="text/ng-template" id="filetreeTmpl">
						<span
							ng-click="selected = true"
							ng-dblclick="open( item.path )"
							ng-class="{ 'selected___TODO': selected }"
							class="label"
						>
							<span class="expand" ng-click="expanded = !expanded || false;" stop-event></span>
							<span class="icon"></span>
							<span class="name">{{item.name}}</span>
						</span>
					    <ul ng-if="item.children" ng-show="expanded">
					        <li
					        	ng-repeat="item in item.children"
					        	ng-include="'filetreeTmpl'"
					        	ng-class="{ 'expanded': expanded }"
					        	ng-init="selected = false; expanded = false;"
					        	class="type-{{item.type}}"
					        ></li>
					    </ul>
					</li>
				</script>
			
				<ul id="filetree">
					<li
						ng-repeat="item in filetree"
						ng-include="'filetreeTmpl'"
						ng-class="{ 'expanded': expanded }"
						ng-init="expanded=true"
						class="type-{{item.type}}"
					></li>
				</ul>
				
				<div id="sidebar-helper"></div>
				
			</sidebar>
			
			<editor ng-controller="editorCtrl">
			
				<tabs>
					<tab
						ng-repeat="file in files"
						ng-init="active = false;"
						ng-click="$parent.active = file.path;"
						ng-class="{ 'active': $parent.active == file.path, 'changed': file._changed }"
					>
						<span class="close" ng-click="close(file.path)">
							<span class="changed"></span>
							<span class="cross">✕</span>
						</span>
						<span class="icon">{{file.icon}}</span>
						<span class="name">{{file.name}}</span>
					</tab>
				</tabs>
				
				<editorviews>
				
					<editorview
						ng-repeat="file in files"
						ng-include="view(file.path)"
						ng-class="{ 'active': $parent.active == file.path }"
					>
					</editorview>
				
				</editorviews>
			
				<helper>
					<block>
						<title>Test block</title>
						<blockcontent>
							block content
							{{project.metadata.description.en}}
						</blockcontent>
					</block>
				</helper>
				
			</editor>
			
		</content>
		
	</body>
</html>