<editorview
	class="{{file._view}}"
	ng-repeat="file in files"
	ng-include="'editor/views/' + file._view + '/view.html'"
	ng-show="$parent.active == file.path"
>
</editorview>

<link rel="stylesheet" type="text/css" ng-href="./editor/views/{{file._view}}/view.css" ng-repeat="file in files" />

<noeditorview ng-show="!active">

	<div class="table">
		<div class="tablecell">

			<p>
				<img src="app/assets/images/icon/tools.svg" width="12%" style="opacity: 0.25;" />
			</p>

			<h1>Welcome, Formide Developer!</h1>

			<p>Let's get started. <a href="#">Build your first Formide App &raquo;</a></p>

		</div>
	</div>

</noeditorview>