<div
	ng-controller="ledringWidgetCtrl"
	ng-class="{ 'threed': threed }"
>
	
	<div>
		<div class="ring">
	
			<div class="ring-mask"></div>
			<div class="pixels">
				<div class="frames" ng-repeat="frame in animation" ng-show="currentFrame == $index">
					<div
						class="pixel"
						ng-repeat="pixel in frame.pixels"
						style="background-color: rgb( {{pixel[0]}},{{pixel[1]}},{{pixel[2]}} ); -webkit-transform: rotate( {{$index / 30 * 360}}deg) translateX(120px)"
					></div>
				</div>
			</div>
			
			<div class="ledring-sketch">
				<div class="ledring-solid"></div>
				<div class="ledring-top"></div>
				<div class="ledring-feet ledring-feet-1"></div>
				<div class="ledring-feet ledring-feet-2"></div>
				<div class="ledring-feet ledring-feet-3"></div>
			</div>
			
			<div class="frame">frame {{currentFrame}}</div>
			
		</div>
	</div>

	<div class="toggle">
		<span class="flat" ng-click="threed = false" ng-class="{ 'active': !threed }"></span>
		<span class="threed" ng-click="threed = true" ng-class="{ 'active': threed }"></span>
	</div>

</div>