widget.ledring {
	text-align: center;
	margin-top: 8px;
}
	widget.ledring .ring {
		position: relative;
		display: inline-block;
		-webkit-perspective: 1500px;
		width: 240px;
		height: 240px;
		margin: 5px 10px;
		margin-bottom: 20px;
	}
		widget.ledring .ledring-sketch {
			position: absolute;
			left: -8px;
			right: -8px;
			top: -8px;
			bottom: -8px;
			
			opacity: 0;
			transition: all 1s;
		}
		widget.ledring .threed .ledring-sketch {
			opacity: 1;
			transition: all 1s 1s;
		}
			widget.ledring .ledring-solid {
				position: absolute;
				top: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 1000px;
				border: 1px solid #666;
				background: white;
			}
			widget.ledring .ledring-feet {
				position: absolute;
				box-sizing: border-box;
				z-index: 1;
				bottom: -2.5%;
				width: 12.5%;
				height: 12.5%;
				border: 1px solid #666;
				border-radius: 1000px;
				left: 43.75%;
			}
			widget.ledring .ledring-feet-1 {
				margin-left: -25%;
			}
			widget.ledring .ledring-feet-2 {
				margin-left: 25%;
			}
			widget.ledring .ledring-top {
				position: absolute;
				z-index: 3;
				box-sizing: border-box;
				border: 5px solid #666;
				border-radius: 1000px;
				
				width: 15%;
				height: 15%;
				
				top: 0%;
				left: 42.5%;
				
				-webkit-transform: rotateX(60deg);
			}
	
		widget.ledring .pixels {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 4;
			
			transition: all 1s 1s;
			margin-left: -7px;
		}
		widget.ledring .threed .ring .pixels {
			-webkit-transform: rotateX(70deg);
			transition: all 1s;
			margin-left: 0;
		}
			widget.ledring .ring .pixel {
				width: 14px;
				height: 14px;
				border-radius: 2px;
				position: absolute;
	
				transition: all 1s 1s, background 0.1s;
				
				top: 50%;
				left: 50%;
			}
			widget.ledring .threed .ring .pixel {
				-webkit-filter: blur(2px);
				transition: all 1s, background 0.1s;
				width: 3px;
				height: 28px;
			}
			
		widget.ledring .ring-mask {
			position: absolute;
			z-index: 5;
			top: -7px;
			left: -7px;
			bottom: -7px;
			right: -7px;
			border-radius: 140px;
			
			background: linear-gradient(to top, rgba(255,255,255,0) 35%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
			
			opacity: 0;
			
			-webkit-transition: opacity 0.5s, -webkit-transform 1s;
		}
		widget.ledring .threed .ring-mask {
			-webkit-transform: rotateX(70deg);
			-webkit-transition: opacity 0.5s 1s;
			opacity: 1;
		}
		widget.ledring .threed .ring-mask:hover {
			-webkit-transition: opacity 0.5s;
			opacity: 0.4;
		}
		
		widget.ledring .frame {
			position: absolute;
			right: 0px;
			top: 0px;
			font-size: 12px;
			color: #bbb;
		}
	widget.ledring .toggle {
		display: block;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
		overflow: hidden;
		margin: -8px;
		margin-top: 8px;
	}
		widget.ledring .toggle span {
			float: left;
			text-align: center;
			width: 50%;
			box-sizing: border-box;
			height: 50px;
			
			font-size: 12px;
			font-weight: 300;
			
			color: black;
			
			transition: all 0.1s;
			background-size: 30px auto;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.5;
		}
		widget.ledring .toggle span:hover {
			opacity: 0.85;
		}
		widget.ledring .toggle span.active,
		widget.ledring .toggle span:active {
			opacity: 1.0;
			box-shadow: inset 0 0 20px rgba(0,0,0,0.15);			
		}
		widget.ledring .toggle .flat {
			background-image: url(./img/icon-pixels-2d.png);
		}
		widget.ledring .toggle .threed {
			background-image: url(./img/icon-pixels-3d.png);
		}