#filetree li.ext-svg .label .icon {
	-webkit-mask-image: url(./assets/icons/image.svg) !important;
}

#filetree li.ext-json .label .icon {
	-webkit-mask-image: url(./assets/icons/settings.svg) !important;
}

#filetree li.ext-js .label .icon,
#filetree li.ext-html .label .icon,
#filetree li.ext-css .label .icon,
#filetree li.ext-sass .label .icon {
	-webkit-mask-image: url(./assets/icons/code.svg) !important;
}

#filetree li.ext-stl .label .icon {
	-webkit-mask-image: url(./assets/icons/stl.svg) !important;
}