<section ng-controller="AuthController">
	<div ng-click="login()">
		<div class="name">
			<span >{{user.statusMessage}}</span>
		</div>
		<img ng-src="{{$parent.user.avatar || 'app/assets/images/avatar-fallback.jpg'}}?size=30" />
	</div>

	<ul class="dropdown" ng-show="$parent.user.status == 'logged-in'">
		<li>
			<span class="label">
				<span class="icon" style="-webkit-mask-image: url(app/assets/images/icon/user.svg)"></span>
				<span class="title">Account</span>
			</span>
		</li>
		<li>
			<span class="label">
				<span class="icon" style="-webkit-mask-image: url(app/assets/images/icon/settings.svg)"></span>
				<span class="title">Settings</span>
			</span>
		</li>
		<li>
			<span class="label" ng-click="logout()">
				<span class="icon" style="-webkit-mask-image: url(app/assets/images/icon/logout.svg)"></span>
				<span class="title">Logout</span>
			</span>
		</li>
	</ul>
</section>
