/*Dark Theme*/
.btn {
  font-size: 14px;
  color: #DFE1E8;
  background-color: #65737F;
  padding: 2px 10px;
  letter-spacing: 0.02em;
  transition: opacity 0.2s ease-out;
  border-radius: 3px;
  display: inline-block; }
  .btn:hover, .btn:focus {
    opacity: .8;
    color: inherit; }
  .btn, .btn:hover, .btn:active, .btn:focus {
    outline: 0; }
  .btn:disabled {
    opacity: .2;
    cursor: not-allowed; }
  .btn .label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: inherit; }
  .btn .icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    background: #DFE1E8;
    margin-right: 3px; }

body {
  background: #2B303B;
  color: #DFE1E8; }

header {
  background: #1C1F26; }

#header-stoplight {
  padding: 0 12px; }

sidebar {
  background: #222830; }

#filetree li .label .name,
#filetree li .label .name-renaming {
  color: #65737F; }

#filetree li .label:hover,
#filetree li .label.selected,
#filetree li .label.file-drop-over {
  background: #333D46; }
  #filetree li .label:hover .name,
  #filetree li .label:hover .name-renaming,
  #filetree li .label.selected .name,
  #filetree li .label.selected .name-renaming,
  #filetree li .label.file-drop-over .name,
  #filetree li .label.file-drop-over .name-renaming {
    color: #DFE1E8; }

#filetree li .label:hover {
  background: rgba(51, 61, 70, 0.5); }

#filetree li .label .icon {
  background: #65737F; }

#filetree li .label .expand:before {
  border-left-color: #65737F; }

tabs {
  background: #222830;
  border: none; }
  tabs tab {
    color: #65737F;
    background: #222830;
    border: none; }
    tabs tab:hover, tabs tab.active {
      color: #DFE1E8;
      background: #2B303B; }
    tabs tab .close {
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); }
      tabs tab .close:before {
        color: set-text-color(#2B303B); }
    tabs tab.changed .close .changed {
      background: #268BD2;
      border: 1px solid #46B1E6; }

/* e.g. var, function */
.cm-keyword {
  color: #DFE1E8; }

/* e.g. #id */
.cm-atom {
  color: #DFE1E8; }

/* e.g. 20 */
.cm-number {
  color: #d68056; }

/* e.g. px, em */
.cm-unit {
  color: #d68056; }

/* e.g. @include, [this] */
.cm-def {
  color: #8056d6; }

/* e.g. $, i */
.cm-variable {
  color: #DFE1E8; }

/* e.g. for key in [this], Markdown li */
.cm-variable-2 {
  color: #8056d6; }

/* e.g. getElementbyId, CSS properties */
.cm-property {
  color: #c156d6; }

/* e.g. CoffeeScript ->, CSS colons */
.cm-operator {
  color: #65737F; }

/* e.g. // comments */
.cm-comment {
  color: #65737F; }

/* e.g. "string" */
.cm-string {
  color: #6bd656; }

/* e.g. some CSS values */
.cm-string-2 {
  color: #DFE1E8; }

/* e.g. @font-face */
.cm-meta {
  color: #c156d6; }

/*  */
.cm-header {
  color: #d68056; }

/* e.g. HTML elements */
.cm-tag {
  color: #d6c156; }

/* e.g. class="" id="" */
.cm-attribute {
  color: #d6c156; }

/* e.g. .box */
.cm-qualifier {
  color: #DFE1E8; }

.CodeMirror-linenumber {
  color: #65737F; }

.CodeMirror-gutters {
  border-right: 1px solid #2B303B !important;
  background: #2B303B !important; }

.CodeMirror {
  background: #2B303B !important;
  color: #65737F !important;
  font-size: 12px !important;
  line-height: 1.5 !important; }

/*# sourceMappingURL=component.css.map */
