* {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	height: 100%;
	background: #262821;
}

body {
	height: 100%;
	-webkit-user-select: none;
	
	font-family: "Roboto";
	font-weight: 200;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: rgba(255,255,255,0.05);
	-webkit-app-region: drag;
}

	#chrome-stoplight {
		position: absolute;
		z-index: 2;
		right: 2px;
		top: 10px;
		bottom: 10px;
	}
	body.os-darwin #chrome-stoplight {
		right: auto;
		left: 2px;
		padding: 3px;
	}
		#chrome-stoplight > div {
			float: right;
			width: 12px;
			height: 12px;
			background-size: cover;
			margin-right: 8px;
		}
		body.os-darwin #chrome-stoplight > div {
			margin-left: 8px;
			margin-right: 0;
			float: left;
		}
		#chrome-stoplight-close {
			background-image: url(../img/chrome-stoplight-close.png);
		}
		#chrome-stoplight:hover #chrome-stoplight-close {
			background-image: url(../img/chrome-stoplight-close-hover.png);
		}
		#chrome-stoplight-minimize {
			background-image: url(../img/chrome-stoplight-minimize.png);
		}
		#chrome-stoplight:hover #chrome-stoplight-minimize {
			background-image: url(../img/chrome-stoplight-minimize-hover.png);
		}
		#chrome-stoplight-zoom {
			background-image: url(../img/chrome-stoplight-zoom.png);
		}
		#chrome-stoplight:hover #chrome-stoplight-zoom {
			background-image: url(../img/chrome-stoplight-zoom-hover.png);
		}
	#chrome-title {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 10px;
		bottom: 10px;
		line-height: 20px;
		font-size: 16px;
		font-weight: 200;
		text-align: center;
		color: white;
	}
	#user {
		position: absolute;
		right: 10px;
		top: 7px;
		bottom: 10px;
	}
		#user .name {
			vertical-align: middle;
			display: inline-block;
			font-size: 14px;
			color: rgba(255,255,255,0.5);
			margin: 0 6px;
		}
		#user img {
			vertical-align: middle;
			display: inline-block;
			width: 24px;
			height: 24px;
			border: 1px solid rgba(0,0,0,0.15);
			border-radius: 50%;
		}
	#progressbar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: rgba(255,255,255,0.05);
	}
		#progressbar-inner {
			height: 100%;
			background: linear-gradient(to right, #a6e22e 0%, #a6e22e 94%, rgba(166, 226, 46, 0) 100%);
			-webkit-transition: width 0.3s;
		}
	#play {
		position: absolute;
		left: 220px;
		top: 8px;
		padding-left: 8px;
		border-left: 1px solid rgba(0,0,0,0.1);
	}
		#play-button {
			position: relative;
			border: 2px solid white;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			box-sizing: border-box;
		}
		#play-button:before {
			content: "";
			position: absolute;
			left: 7px;
			top: 4px;
			display: block;
			border-left: 8px solid white;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
		}
		#play-button:hover:before {
			transform: scale(1.1);
		}
	
content {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
}

	sidebar,
	helper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 220px;
		background: rgba(255,255,255,0.05);
		border-color: rgba(255,255,255,0.05);
		border-style: solid;
		border-width: 0;
		box-sizing: border-box;
	}
	sidebar {
		border-right-width: 1px;
	}
		#filetree {
			list-style: none;
			padding-left: 7px;
		}
		#filetree ul {
			padding-left: 15px;
		}
			#filetree li {
				line-height: 24px;
			}
				#filetree li .label {
					display: block;
					font-size: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				#filetree li .label.selected {
					background: rgba(255,255,255,0.05);
				}
					#filetree li .label .expand {
						border-left: 6px solid #5A5A5A;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						display: inline-block;
						vertical-align: middle;
						margin-right: 6px;
						
						visibility: hidden;
						
						transition: transform 0.25s;
					}
					#filetree li.expanded > .label .expand {
						transform: rotate(90deg);
					}
					#filetree li.type-folder > .label .expand {
						visibility: visible;
					}
					#filetree li .label .name {
						color: white;
						font-weight: 300;
						font-size: 12px;
						display: inline-block;
						vertical-align: middle;
					}
					#filetree li .label .icon {
						-webkit-mask-position: center center;
						-webkit-mask-repeat: no-repeat;
						-webkit-mask-size: contain;
						background: white;
						width: 12px;
						height: 12px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 6px;
					}
					#filetree li.type-folder .label .icon {
						-webkit-mask-image: url(../img/ext/folder.svg);
					}
					#filetree li.type-file .label .icon {
						-webkit-mask-image: url(../img/ext/file.svg);
					}
				#filetree li ul {
					list-style: none;
				}
					#filetree li ul li .label {
						
					}
		#sidebar-helper {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 30px;
			background: rgba(255,255,255,0.05);
		}
		
	editor {
		position: absolute;
		top: 0;
		left: 220px;
		right: 0;
		bottom: 0;
	}
		
		tabs {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 25px;
			border-bottom: 1px solid rgba(255,255,255,0.05);
			box-sizing: border-box;
		}
			tabs tab {
				float: left;
				width: 120px;
				height: 25px;
				border-right: 1px solid rgba(255,255,255,0.05);
				text-align: center;
				line-height: 25px;
				box-sizing: border-box;
				font-size: 12px;
				color: #aaa;
				border-bottom: 1px solid transparent;
			}
			tabs tab.active {
				color: white;
				border-bottom-color: #262821;
			}
				tabs tab * {
					display: inline-block;
					vertical-align: middle;
				}
				tabs tab .close {
					border-radius: 50%;
					float: left;
					background: rgba(255,255,255,0.2);
					width: 12px;
					height: 12px;
					margin: 6.5px;
					color: white;
					text-align: center;
					line-height: 13px;
					font-size: 6px;
				}
					tabs tab.changed .close .cross,
					tabs tab .close .changed {
						display: none;
					}
					tabs tab .close .cross,
					tabs tab.changed .close .changed {
						display: block;
					}
			
		editorview {
			position: absolute;
			left: 0;
			top: 25px;
			bottom: 0;
			right: 220px;
			display: none;
		}
		editorview.active {
			display: block;
		}
	
		helper {
			position: absolute;
			top: 25px;
			left: auto;
			right: 0;
			bottom: 0;
			width: 220px;
			border-left-width: 1px;
		}
			helper block {
				display: block;
				margin: 4px;
			}
				helper block title {
					display: block;
					padding: 4px 8px;
					height: 18px;
					line-height: 18px;
					background: rgba(0,0,0,0.5);
					font-size: 12px;
					color: white;
				}
				helper block blockcontent {
					display: block;
					padding: 8px;
					border: 1px solid rgba(0,0,0,0.5);
					border-top: none;
				}
	
	
.CodeMirror {
	font-size: 11px;
	font-family: "Menlo", monospace !important;
	height: 100% !important;
}	
	.CodeMirror-gutters {
		border-right: 1px solid rgba(255,255,255,0.05) !important;
	}
	.CodeMirror-linenumber {
		opacity: 0.1;
	}
	
form {
	padding: 10px;
}
	form fieldset {
		padding: 10px;
		border: 1px solid rgba(255,255,255,0.2);
		margin-bottom: 10px;
	}
		form fieldset legend {
			font-size: 12px;
			padding: 0 4px;
			color: rgba(255,255,255,0.5);
		}
		form fieldset row {
			display: block;
			margin-bottom: 1em;
		}
		form fieldset row:after {
			content: "";
			clear: both;
		}
		form fieldset row:last-child {
			margin-bottom: 0;
		}
		form fieldset label {
			display: block;
			font-size: 12px;
			color: white;
			line-height: 16px;
		}
		form fieldset row label {
			float: left;
			width: 200px;
		}
		form input,
		form textarea {
			background: transparent;
			border: 1px solid rgba(255,255,255,0.25);
			background: rgba(0,0,0,0.1);
			border-radius: 2px;
			padding: 4px;
			font-family: inherit;
			font-weight: inherit;
			font-size: 12px;
			color: white;
		}
		form row input,
		form row textarea {
			float: left;
			width: 200px;
		}